@import "../base/_variables.scss";

header {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 35vh;

  background-image: url("/images/header_bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  h1 {
    font-size: 5rem;
    font-style: italic;
    text-align: center;

    text-shadow: $shadow;
  }
}
