.tab-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .tab-btn {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $lgray;
    border-radius: 0;
    color: $unwhite;
    padding: 10px 0;
    margin: 10px 0;
    outline: none;
    width: 15%;

    &:hover {
      border-bottom: 2px solid $lgreen;
    }

    &.active {
      border-bottom: 2px solid $dgreen;
      font-weight: bold;
    }
  }
}

.tab-content-container {
  width: 100%;

  .tab-content {
    display: none;

    &.active {
      display: block;
    }
  }
}
